<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">


  <!-- <a href="img/PhotoboothTest.png" class="swipebox">
    <img src="img/PhotoboothTest.png" alt="image">
  </a>-->

  <ul style="list-style-type:none;"></ul>

  <script type="text/javascript">
   

    $.ajax({
      url: "http://api.tumblr.com/v2/blog/ladiesnightwk.tumblr.com/posts?api_key=Lp1VLRjGzFaejZ8axwXhO6eGokElozaDOAaE4AqmGntAisMwtc",
      dataType: 'jsonp',
      success: function(posts){
        // Logs to your javascript console.
        console.log(posts); 
        // writes the title to a div with the Id "myDivId" (ie. <div id="myDivId"></div>)
        var postings = posts.response.posts;
        var text = '';

        for (var i in postings) {
          var p = postings[i];

          text += '<li><img src=' + p.photos[0].original_size.url +'></li>';

        }
        $('ul').append(text);


      }
    });
  </script>


</body>
</html>
