<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">

  <a href="img/PhotoboothTest.png" class="swipebox">
    <img src="img/PhotoboothTest.png" alt="image">
  </a>
  
  <div id="myDivId"></div>
  
  </div>

  <script type="text/javascript">
    ;( function( $ ) {

      $( '.swipebox' ).swipebox();

    } )( jQuery );
  </script>


</body>
</html>
