<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">

  <a href="img/PhotoboothTest.png" class="swipebox">
    <img src="img/PhotoboothTest.png" alt="image">
  </a>
  
  <div id="myDivId"></div>
  
  </div>

  <script type="text/javascript">
    ;( function( $ ) {

      $( '.swipebox' ).swipebox();

    } )( jQuery );

    $.ajax({
      url: "http://api.tumblr.com/v2/blog/ladiesnightwk.tumblr.com/posts?api_key=Lp1VLRjGzFaejZ8axwXhO6eGokElozaDOAaE4AqmGntAisMwtc",
      dataType: 'jsonp',
      success: function(results){
        // Logs to your javascript console.
        console.log(results); 
        // writes the title to a div with the Id "myDivId" (ie. <div id="myDivId"></div>)
        $("#myDivId").html(results.response.posts); 
      }
    });
  </script>


</body>
</html>
